[Desktop Entry]
Version=1.0
Path=/home/usuario/Development/netmon.gui/
Exec=/home/usuario/Development/netmon.gui/netmon
Icon=/home/usuario/Development/netmon.gui/netmon.png
Name=NetMon Beta
GenericName=Monitor de Rede e Acesso Remoto
Comment=EB
Terminal=false
Type=Application
Categories=Network;Tools
